/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************OUR CUSTOM CSS STYLES***********************************/
body {
  font-family: sans-serif;
  background-color: black;
}

h1 {
    color: ghostwhite;
    text-align: center;
    font-size: 3em;
    margin-top: 1em;
}

h2 {
    color: ghostwhite;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

a  {
  text-decoration: none;
}

#appwrapper {
  margin: 0em auto;
  background-color: rgba(10,10,10, .5);
  text-align: center;
  max-width: 40em;
  color: white;
  padding: 1.5em 0em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

img {
  vertical-align: middle;
}

/*********LIST OF PEOPLE AVAILABLE******/

.user-entry {
  font-family: sans-serif;
  font-weight: bold;
  background-color: rgba(76,147,230,.5);
  color: white;
  padding: 1em;
  margin-top: .5em;
}

.user-entry .user-name {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.user-entry .time {
  margin-bottom: 1.5em;
  color: lightgray;
}

.user-entry .activity {
  margin-bottom: 1em;
  color: greenyellow;
}

.contactinfo {
  background-color: rgba(10,200,10, .5);
  padding: 1em;
  display: block;
  margin: 0em 0em .5em 0em;
}

.contactinfoitem {
	display: inline-block;
	margin: 0 1em;
}

.isHidden {
	display: hidden;
}

/************************************FOR LOGIN PAGE*******************************/
.citybackground{
	background: url("../images/city-skyline.jpg") no-repeat center center fixed;
	background-size: cover;
}

.header{
    text-align: center;
    max-width: 10em;
	margin: 0 auto;
	color: white;
	font-size: 5em;
}

.header .iit {
	font-size: .5em;
	color: red;
}

.login{
	margin: 0 auto;
	background-color: rgba(10,10,10, .5);
	max-width: 40em;
	padding: 1.5em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.login input {
	color: white;
	background-color: transparent;
	padding: 1em;
	margin-bottom: 1em;
}

input[type="button"], input[type="submit"]{
 margin: 1em auto;
	color: white;
	background: linear-gradient(to bottom, rgba(146,206,161,.8) 0%,rgba(80,220,108,.5) 50%,rgba(52,220,85,.5) 51%,rgba(98,240,129,.4) 100%);
	padding: 1em 5em;
	display: block;
}

label {
	font-size: 1.2em;
	display: block;
	margin-top: 1em;
	color: white;
	text-align: center;
}

input, select{
  margin: .5em auto;
  display: block;
  padding: .5em;
}

/*****************FOR NAV BAR**************************/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(141,182,201,1) 0%, rgba(96,134,195,0.89) 50%, rgba(78,118,193,0.89) 51%, rgba(73,119,193,0.78) 100%);
    text-align: right;
    text-decoration: none;
}

li {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
		font-weight: bold;

}

li a {
	color: white;
	text-decoration: none;
}

li a:hover {
    color: yellow;
}

/***************For Signup Page*****************************/
p{
  color:black;
  text-align: center;
}

/**************MEDIA QUERIES**********************/
@media screen and (min-width: 37.5em){
  
  #appwrapper {  
    padding: 1.5em;
  }
  
  .user-entry {
    margin: .5em 0 0em 0;
    border: 1px solid ghostwhite;
  }
}
